<% layout("./layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h2>Booking Successful! 🎉</h2>
        <h4><%= booking.listingId.title %></h4>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= booking.listingId.image.url %>" class="card-img-top show-img" alt="...">
        <div class="card-body">

            <p class="card-text">Check-in : 
                <%= new Date(booking.checkIn).toDateString() %>
            </p>

            <p class="card-text">Check-out : 
                <%= new Date(booking.checkOut).toDateString() %>
            </p>

            <p class="card-text">Guests: <%= booking.guests %></p>

            <p class="card-text">
                Total Price with taxes:  ₹<%= booking.totalPrice.toLocaleString("en-IN") %>
            </p>

        </div>
    </div>

    <div class="btns">
        <a href="/listings" class="btn btn-dark col-3 col-md-1 offset-3 edit-btn" style="white-space: nowrap; margin-bottom: 2rem;">Go to Home</a>

        <form method="POST" action="/listings/<%=booking.listingId._id%>/book?_method=DELETE">
            <button class="btn btn-dark offset-5" style="white-space: nowrap; margin-bottom: 2rem;">Cancel Booking</button>
        </form>
    </div>
</div>
